#panorama {
  width: 800px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}
#controls {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-bottom: 3px;
}
.ctrl {
  padding: 10px 10px;
  text-align: center;
  background: rgba(200, 200, 200, 0.5);
  display: inline-block;
  cursor: pointer;
}
.ctrl:hover {
  background: rgb(255, 255, 255);
  text-align: center;
}
.dir {
  text-align: center;
}
