#this file goes in /etc/udev/rules.d
#creates symlinks for cameras connected to usb ports

#for both usbv3.0 and 2.0 hubs
ACTION=="add", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="05a3", ATTRS{idProduct}=="9601", ENV{ID_PATH}=="platform-70090000.xusb-usb-0:2.4:1.0", SYMLINK+="camera0"
ACTION=="add", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="05a3", ATTRS{idProduct}=="9601", ENV{ID_PATH}=="platform-70090000.xusb-usb-0:2.3:1.0", SYMLINK+="camera1"

#for 3.0 hub

ACTION=="add", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="05a3", ATTRS{idProduct}=="9601", ENV{ID_PATH}=="platform-70090000.xusb-usb-0:2.2:1.0", SYMLINK+="camera2"
ACTION=="add", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="05a3", ATTRS{idProduct}=="9601", ENV{ID_PATH}=="platform-70090000.xusb-usb-0:2.1.4:1.0", SYMLINK+="camera3"
ACTION=="add", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="05a3", ATTRS{idProduct}=="9601", ENV{ID_PATH}=="platform-70090000.xusb-usb-0:2.1.2:1.0", SYMLINK+="camera4"
ACTION=="add", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="05a3", ATTRS{idProduct}=="9601", ENV{ID_PATH}=="platform-70090000.xusb-usb-0:2.1.3:1.0", SYMLINK+="camera5"
ACTION=="add", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="05a3", ATTRS{idProduct}=="9601", ENV{ID_PATH}=="platform-70090000.xusb-usb-0:2.1.1:1.0", SYMLINK+="camera6"

#for 2.0 hub

ACTION=="add", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="05a3", ATTRS{idProduct}=="9601", ENV{ID_PATH}=="platform-70090000.xusb-usb-0:2.2.4:1.0", SYMLINK+="camera2"
ACTION=="add", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="05a3", ATTRS{idProduct}=="9601", ENV{ID_PATH}=="platform-70090000.xusb-usb-0:2.2.3:1.0", SYMLINK+="camera3"
ACTION=="add", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="05a3", ATTRS{idProduct}=="9601", ENV{ID_PATH}=="platform-70090000.xusb-usb-0:2.1:1.0", SYMLINK+="camera4"
ACTION=="add", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="05a3", ATTRS{idProduct}=="9601", ENV{ID_PATH}=="platform-70090000.xusb-usb-0:2.2.2:1.0", SYMLINK+="camera5"
ACTION=="add", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="05a3", ATTRS{idProduct}=="9601", ENV{ID_PATH}=="platform-70090000.xusb-usb-0:2.2.1:1.0", SYMLINK+="camera6"
